<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0 EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
 		<setting name="jdbcTypeForNull" value="NULL"/> 
 	</settings>

 	<typeAliases>
 		<typeAlias type="com.codeusgroup.codeus.member.model.vo.Member" alias="Member"/>
 		<typeAlias type="com.codeusgroup.codeus.admin.model.vo.Department" alias="Department"/>
 		<typeAlias type="com.codeusgroup.codeus.admin.model.vo.Job" alias="Job"/>
 		<typeAlias type="com.codeusgroup.codeus.meetingResrv.model.vo.MeetingResrv" alias="MeetingResrv"/>
 		<typeAlias type="com.codeusgroup.codeus.meetingResrv.model.vo.MeetingRoom" alias="MeetingRoom"/>
 		<typeAlias type="com.codeusgroup.codeus.commBoard.model.vo.CommBoard" alias="Board"/>
 		<typeAlias type="com.codeusgroup.codeus.commBoard.model.vo.Reply" alias="Reply"/>
 		<typeAlias type="com.codeusgroup.codeus.commBoard.model.vo.Report" alias="Report"/>
 		<typeAlias type="com.codeusgroup.codeus.noticeBoard.model.vo.NoticeBoard" alias="NoticeBoard"/>
 		<typeAlias type="com.codeusgroup.codeus.noticeBoard.model.vo.NoticeBoardReply" alias="NoticeBoardReply"/>
 		<typeAlias type="com.codeusgroup.codeus.noticeBoard.model.vo.NoticeBoardFile" alias="NoticeBoardFile"/>
 		<typeAlias type="com.codeusgroup.codeus.myPage.model.vo.Scrap" alias="Scrap"/>
 		<typeAlias type="com.codeusgroup.codeus.archive.model.vo.ArchiveFile" alias="ArchiveFile"/>
 		<typeAlias type="com.codeusgroup.codeus.archive.model.vo.ArchiveFolder" alias="ArchiveFolder"/>
 		<typeAlias type="com.codeusgroup.codeus.archive.model.vo.ArchiveCapacity" alias="ArchiveCapacity"/>
 		<typeAlias type="com.codeusgroup.codeus.approval.model.vo.Document" alias="Document"/>
 		<typeAlias type="com.codeusgroup.codeus.approval.model.vo.DocumentFile" alias="DocumentFile"/>
 		<typeAlias type="com.codeusgroup.codeus.approval.model.vo.Agreer" alias="Agreer"/>
 		<typeAlias type="com.codeusgroup.codeus.approval.model.vo.Referrer" alias="Referrer"/>
 	</typeAliases>
 	
 	<mappers>
 		<mapper resource="mappers/member-mapper.xml"/>
 		<mapper resource="mappers/myPage-mapper.xml"/>
 		<mapper resource="mappers/admin-mapper.xml"/>
 		<mapper resource="mappers/meetRoom-mapper.xml"/>
 		<mapper resource="mappers/board-mapper.xml"/>
 		<mapper resource="mappers/noticeBoard-mapper.xml"/>
 		<mapper resource="mappers/archive-mapper.xml"/>
 		<mapper resource="mappers/approval-mapper.xml"/>
 	</mappers>
 	
</configuration>
